<!-- views/partials/head.ejs -->

<header class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <img class="logo" width="150" src="src/images/roln-logo.svg" alt="">
    </div>
    <div class="col-xs-4 col-sm-6 col-md-4 col-md-offset-4">
      <div class="user-box pull-right">
        <span class="label label-default label-roln red">Hello <%= username %>!</span>
        <a href="/logout">
          <span class="label label-default label-roln">Logout</span>
        </a>
      </div>
    </div>
  </div>
</header>