a {
  color: #ff2800;
}

a:hover {
  color: #e52200;
}

header {
  padding: 40px 0;
}

.listView h3 {
  display: inline-block;
  margin-top: 0;
}

.red {
  color: white;
  background-color: #ff2800;
  border-color: #e52200;
}

.red:hover {
  color: white;
  background-color: #e52200;
}

.logo {
  display: inline-block;
  margin: 15px 0;
}

.listsForm, .loginForm {
  padding: 30px 0;
}

.label-roln {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 0 15px 0;
  font-size: 14px;
}

.update-task, .update-list {
  margin-right: 10px;
  background-image: url('../images/update.svg');
}

.update, .delete {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.update, .delete {
  opacity: 1;
}

.delete-list, .delete-task,
.update-task, .update-list {
  opacity: 0.15;
  transition: opacity .25s;
}

.delete-list:hover, .delete-task:hover,
.update-task:hover, .update-list:hover {
  opacity: 1;
}

.delete-list {
  background-image: url('../images/delete-list.svg');
}

.delete-task {
  background-image: url('../images/delete-task.svg');
}

.login-panel h2 {
  padding: 0;
  margin: 0 0 15px 0;
}

.search-bg {
  padding: 5em 0;
  margin-bottom: 25px;
  background-color: #333333;
}

.full-width-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.form-list-label {
  color: #fff;
}