<!DOCTYPE html>

<html>
  
  <head>
    <% include partials/head %>
  </head>

  <body>
    
    <div class="full-width-bg"></div>
    
    <% include partials/header %>
    
    <div id="app"></div>
    
    <% include partials/scripts %>
    
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-xs-12">
            <p class="lead">Thanks for using ROLN'!</p>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>