<!DOCTYPE html>

<html>
  
  <head>
    <% include partials/head %>
  </head>

  <body>
    
    <div class="full-width-bg"></div>
    
    <% include partials/header %>
    
    <div class="container">
      <div class="row">
        <div id="app"></div>
      </div>
    </div>
    
    <% include partials/scripts %>

  </body>
</html>