<!DOCTYPE html>

<html>
  
  <head>
    <% include partials/head %>
  </head>

  <body>
    
    <div class="full-width-bg"></div>
    
    <% include partials/header %>
    
    <div id="app"></div>
    
    <% include partials/scripts %>
    
    <div class="container">
      <footer>
        &nbsp;
      </footer>
    </div>

  </body>
</html>