<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <h2>Login</h2>
      <form action="/login" method="post">
        <label>Username
          <input type="text" name="username"/>
        </label>
        <br /><br />
        <label>Password
          <input type="password" name="password"/>
        </label>
        <br /><br />
        <button type="submit">Submit</button>
      </form>

      <a href="/register">Sign Up</a>

    </div>
  </div>
</div>